
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
.wrapper {
   max-width: 1170px;
   width: 100%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}
.imgs {
   width: 100%;
   background: url(./imgs/wOKhyg511.jpg) no-repeat center;
   background-size: cover;  
    height: 374px;
}

h3 {
   position: relative;
   font-family: 'Lato';
   font-weight: 600;
}
li {
   font-size: 20px;
   padding-bottom: 20px;
}
.link {
   text-decoration: none;
   color: black;
   font-size: 36px;
   text-align: center;
}